html{
    background-color: #cccccc;
    font-family:sans-serif;
}
/*Format for the list of links in the navigation bar*/
ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}
li{
    float:left;
}
li a{
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
/*Navigation Button Header */
h1{
    /*color:#cccccc;*/
}
/* Title Text Header*/
h2{
    color:#454475;
    font-size: 40px;
    margin-left: 10px;
}
/*Navigation Button*/
.navButton{
    background-color: #3f3750;
    color: #cccccc;
    border: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
/* Change button color text on hover*/
.navButton:hover{
    background-color: #000000;
    color:#e6e6e6;
}
/*Textbox for...well, text*/
.textBox{
    background-color: #e6e6e6;
    color:#454475;
    width: fit-content;
    padding:5px;
    border: 5px solid;
    margin: 10px;
}