doctype html
html 
    head
        title="Home | Griffen's Web Portfolio"
        link(rel="stylesheet", href="/index.css")
        meta(charset="utf-8")
        script(src="scripts.js", type="text/javascript") 
    body
        nav.ul
            li
                a.navButton(href="/") Home
                a.navButton(href="/blog") Blog
                a.navButton(href="/game") Game
                a.navButton(href="/contact") Contact
                a.navButton(href="/asdf") 404 Error
            br
        h2 Griffen's Web Portfolio 
        h3.descriptionBox My name's Griffen, and welcome to my personal website!
        div.content.
            asdfjsdfklj
    footer.stickyFooter
        hr
        div.
            Copyright 2022 by Griffen Agnello. All Rights Reserved.
        div.
            Griffen's Web Portfolio is Powered by Node.js, Express.js, and HTML5