doctype html
html 
    head
        include template/head
    body
        include template/nav
        h2 Griffen's Web Portfolio 
        h3.descriptionBox My name's Griffen, and welcome to my personal website!
        div.content 
            each contentTag in content
                p.textTitle #{contentTag.head}
                p #{contentTag.body} 
    footer
        include template/footer