extends ../main.pug
block content
    style.
        a:hover{
            color:#FFEE77;
        }
    div(class="container-md text-center")
        div(class="card mb-3 p-5 shadow rounded-pill" style="background-color:#444444AF")
            div(class="row g-0 fs-4")
                a(class="textSpecial-bs" href="/doc/Griffen-Agnello-resume.pdf" download="") Resume Download
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Phone number: 360-281-9034
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Email: agnellogriffen@gmail.com
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Linkedin:
                    a(class="textSpecial-bs" href="linkedin.com/in/griffen-agnello") linkedin.com/in/griffen-agnello
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) GitHub:
                    a(class="textSpecial-bs" href="https://github.com/quakeroatsgriff") https://github.com/quakeroatsgriff


