extends ../main.pug
block content
    div.centerBox
        p
            div.textTitle(style="display: inline; margin-right: 5px;") 🕻 Phone number:
            div.textSpecial 360-281-9034
        p
            div.textTitle(style="display: inline; margin-right: 5px;") ✉ Email:
            a.textSpecial(href= "mailto: agnellogriffen@gmail.com") agnellogriffen@gmail.com
        p
            div.textTitle(style="display: inline; margin-right: 5px;") GitHub:
            a.textSpecial(href="https://github.com/quakeroatsgod") https://github.com/quakeroatsgod