extends ../main.pug
block content
    div(class="container-md")
        div(class="card mb-3 p-5 shadow rounded" style="background-color:#444444AF")
            div(class="row g-0")
                div(class="col-md-5")
                    div(class="card-body")
                        div(class="card-text text-center fs-3" style="color:#FFEE77;")
                            |I am a 21 year old computer science student currently in my senior year at Washington State
                            |University Vancouver. I am also interning for Lumen Learning. Everyday, my passion for programming grows as I push myself to
                            |learn more concepts. Feel free to explore the website and see my development! If you would
                            |like to learn more about the website itself, click 
                            a.textSpecial-bs(href = "/projects/personal-portfolio-website") here.
                div(class="col-md-1")
                div(class="col-md-5")
                    img(class="img-fluid rounded-circle" src="/images/other/selfieSquare.jpg" alt="Profile pic")