extends ../main.pug
block content
    div.centerSquareFrame 
        //- div.leftTextBox 
        table.indexTable
            td
                p.leftText.
                    I am a 21 year old computer science student currently in my senior year at Washington State
                    University Vancouver. I am also interning for Lumen Learning. Everyday, my passion for programming grows as I push myself to
                    learn more concepts. Feel free to explore the website and see my development!
            td
                img.profileImage(src="/images/other/selfieSquare.jpg" alt="Profile pic")