doctype html
html 
    head
        include template/head
    body
        include template/nav
        h2 404 Error
        h3.descriptionBox Page not found or does not exist.
        div.content 
    footer
        include template/footer