doctype html
html 
    head
        include template/head
    body
        include template/nav
        h2 Blog 
        h3.descriptionBox This is a collection of posts on various topics, mainly about my personal programming journey.
        div.content 
            div.centerTitle Most Recent Post
            div.centerBox
                div.blogEntry(style="display: block; border-top: 5px solid #000000;")
                    a(href="/blog/first-post") Sticky Footer is Inconsistent
                        p.
                            6/16/22<br>The first major road block I have experienced while making
                            this website.
    footer
        include template/footer