//- footer. Usage: include under footer indentation
footer(class="container-fluid" )
    div(class="footer text-center")
        div(class="row g-0")
            hr
            each line in footer.content
                div( style="color:#d6a400;") #{line}