//- Head. Usage: include under head indentation
head
    style
        include ../../css/index.css
    meta(charset=`${head.meta.charset}`)
    //- Get page tab title
    each contentTag in content 
        title=`${contentTag.head}`