//- Head. Usage: include under head indentation
head
    style
        include ../../css/index.css
    meta(charset=`${head.meta.charset}`)
    script(src=`${head.script.src}`,type=`${head.script.type}`)   