html{
    background-color: #cccccc;
    font-family:sans-serif;
    height:100%;
}
/*Format for the list of links in the navigation bar*/
nav ul{
    list-style-type: none;
    margin: 1%;
    padding: 0px;
}
li a{
    float:left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
/* Title Text Header*/
h2{
    color:#454475;
    font-size: 40px;
    margin-left: 1%;
}
h3{
    margin-left: 1%;
}

/*Configured so that the footer always is tied to the bottom of the page no matter the length.*/
/*-----------Classes------------*/

/*Navigation Button*/
.navButton{
    background-color: #3f3750;
    color: #cccccc;
    border: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
/* Change button color text on hover*/
.navButton:hover{
    background-color: #000000;
    color:#e6e6e6;
}
/*Textbox for...well, text*/
.textBox{
    background-color: #e6e6e6;
    width: fit-content;
    padding:5px;
    border: 5px solid #454475;
    margin: 10px;
}
/*Centered title header that is meant to be placed right above a centerBox*/
.centerTitle{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    font-weight: bold;
    width:51%;
    color: #454475;
    font-size: 40px;
    padding: 5px;
    margin:auto;
}
/*Centered textbox, mainly used for blog posts*/
.centerBox{
    background-color: #e6e6e6;
    color: #222141;
    width:50%;
    font-size: 120%;
    padding:5px;
    border: 5px solid #454475;
    margin:auto;
    text-align: justify;
}
/*Centered image*/
.centerImage{
    margin:auto;
    display:block;
    width: 100%;
    height: 100%;
}
/* The frame that holds a dropdown menu*/
.DropDown{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: auto;
    box-shadow: 0px 8px 16px #00000050;
}
/*Menu button in a dropdown menu*/
.blogDropDownButton{
    width: 100%;
    margin: auto;
    background-color: #3f3750;
    color: #cccccc;
    border: 5px solid #000000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 40px;
} 
.blogDropDownButton:hover{
    background-color: #000000;
}
/*Button for clicking to a blog post on the main blog page*/
.blogEntry{
    background-color: #3f3750;
    color: #cccccc;
    border: 5px solid #000000;
    border-top: 0px solid #000000;
    text-align: left;
    text-decoration: none;
    display: none;
    z-index: 1;
    font-size: 24px;
}
/*The ACTUAL blog entry link*/
.blogEntry a{
    background-color: #3f3750;
    color:#cccccc;
    padding: 5px;
    text-decoration: none;
    display:block;
    font-weight: bold;
}
.blogEntry a:hover{
    background-color: #000000;
}

/*Descriptive content in a dropdown menu entry*/
.blogEntry a p{
    font-weight: normal;
    font-size: 20px;
}
/*Toggled to show the contents of a dropdown menu (blog entries)*/
.showContents{
    display:block;
}
/*Descriptive content underneath an h2 title header*/
.descriptionBox{
    width: 50%;
    text-align: center;
    background-color: #3f3750;
    border: 5px solid #454475;
    color:#cccccc;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding: 10px;
}
/*Bigger, bold font used for titles*/
.textTitle{
    font-size: 24px;
    color: #454475;
    display: inline;
    font-weight: bold;
}
/*Bigger, bold font used for special occasions (links)*/
.textSpecial{
    word-spacing: normal;
    font-size: 20px;
    margin-right: 5px;
    color: #222141;
    display: block;
    font-weight: 600;
    text-decoration: none;
}
/*Footer information mainly used to stick it to the bottom of the page*/
.stickyFooter{
    width:100%;
    text-align: center;
    padding:5px;
    margin:auto;
    margin-top: 50vh;
}
.content{
    padding:20px;
}
/*Block around an area of text with mono font to resemble code*/
.codeBlock {
    background-color: gray;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    display: inline;
    font-family: monospace;
}
